body {
  color: rgb(19, 10, 10);
  text-align: center;
  font-family: 'Arial';
  font-size: 26px;
  margin: 0;
  padding: 0;
}


#hyper{
  position: relative;

  align-content: center;
}


#cabecera {
  box-shadow: 0px 2px 20px 0px ;
  color: rgb(39, 24, 82);
  font-weight: bolder;
  margin: 0;
 flood-color: chocolate;
  background-color: cyan;
}

#cabecera #tagline {

  font-weight: bold;
  font-size: 0.8em;
  position: fixed;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
  position:relative;
 
}



#hyper{
 
  margin: 20px auto;
  position:relative;
 
}


#container h1 {
  background: white;
  font-size: 20px;
  color: blue;
}

#logo{
width: 70px;
height: 70px ;
background-color: chartreuse;

}